.animatedBars {
  width: auto;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 1.5rem;
}

.bar1 {
  width: 0.5rem;
  margin-right: 0.25rem;
  height: 0.9rem;
  background-color: grey;
  opacity: 75%;
}

.bar2 {
  height: 0.5rem;
  @extend .bar1;
}

.bar3 {
  height: 1.2rem;
  @extend .bar1;
}

.bar4 {
  height: 0.75rem;
  @extend .bar1;
}
