@use "@/styles/abstracts" as *;

.ball {
  > * {
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: -10%;
  }
}

.clickableLayer {
  background: transparent;
  pointer-events: auto;
}

.circle {
  z-index: -2;
  overflow-x: hidden;
  filter: blur(20px);

  @include expand-and-appear();

  @include for-tablet-only {
    visibility: hidden;
  }
}
