node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

tsconfig.tsbuildinfo

# Local Netlify folder
.netlify

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*storybook.log
storybook-static
stats.html
.tanstack

public/compiled-posts/
plan.md