[build]
  command = "vite build"
  publish = "dist/client"
[dev]
  command = "vite dev"
  port = 3000

[[redirects]]
  from = "/storybook/*"
  to = "/storybook/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/storybook"
  to = "/storybook/index.html"
  status = 200
  force = true

[[headers]]
  for = "/compiled-posts/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
