@use "sass:color";
@use "src/styling/vars" as *;

.activeCard {
  h3 {
    text-decoration: underline;
  }
  @extend .cardClick;
}

.cardClick {
  cursor: pointer;
  &:hover {
    color: $darkCyan;
  }
}
