@mixin expand-and-appear() {
  $keyframeName: unique-id();

  @keyframes #{$keyframeName} {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  & {
    animation: $keyframeName 0.5s ease-in-out forwards;
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

.animateMusicBars {
  span {
    animation: bounce 2.2s ease infinite alternate;
    &:nth-of-type(2) {
      animation-delay: -2.2s; /* Start at the end of animation */
    }

    &:nth-of-type(3) {
      animation-delay: -3.7s; /* Start mid-way of return of animation */
    }
  }
}

@mixin slide-in-animation(
  $from,
  $direction: "vertical",
  $duration: 0.25s,
  $fill-mode: none
) {
  $transform: translateY;
  @if $direction == "horizontal" {
    $transform: translateX;
  }

  $keyframeName: unique-id();

  // Only works if @keyframe has unique name.
  @keyframes #{$keyframeName} {
    from {
      opacity: 0;
      transform: #{$transform }(#{$from}); // e.g transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: #{$transform }(0px);
    }
  }

  & {
    animation: $keyframeName $duration $fill-mode;
  }
}

@mixin flash-animation() {
  $keyframeName: unique-id();

  @keyframes #{$keyframeName} {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  & {
    animation: $keyframeName 1.25s ease-in-out;
  }
}

@mixin shimmer-animation() {
  $keyframeName: unique-id();

  @keyframes #{$keyframeName} {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  & {
    animation: $keyframeName 1.5s infinite;
  }
}

@mixin hover-vertically($distance: 10px, $duration: 1s) {
  $keyframeName: unique-id();

  @keyframes #{$keyframeName} {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-#{$distance});
    }
  }

  & {
    animation: $keyframeName #{$duration} ease-in-out infinite;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
