$background: #f5f5f5;
$header: #ca1551;
$link: #ca1551;
$btn-bg: #e35103;
$ext-btn-bg: #009fd1;
$ext-btn-bg-hover: #027a9e;
$text: #191919;
$hover-text: #515151;
$underlined: #ffe26d;
$mint: #009a7b;

[data-theme="light"] {
  --lighten-link: #a263fb4d;
  --card: #dee8e6;
  --text: #191919;
  --icon: #191919;
  --code: #191919;
  --lists: #191919;
  --background: #ebd894;
  --underlined: #827957;
  --square: #ca1551;
}

[data-theme="dark"] {
  --lighten-link: rgba(228, 217, 242, 0.7);
  --icon: #bbbbbb;
  --lists: #cccccc;
  --text: #cccccc;
  --code: #303433;
  --card: #303433;
  --background: #191919;
  --underlined: #ebd894;
  --square: #9b113f;
}
