$background: #f5f5f5;
$header: #ca1551;
$btn-bg: #e35103;
$ext-btn-bg: #009fd1;
$ext-btn-bg-hover: #027a9e;
$text: #070f06;
$hover-text: #515151;
$underlined: #ffe26d;
$mint: #329a51;

$on: #fb4d3d;
$off: #3d89fb;

[data-theme="light"] {
  --toggle: #070f06;
  --lighten-link: #7995fa8e;
  --link: #1747e1;
  --card: #ffffff;
  --text: #070f06;
  --icon: #070f06;
  --background: #e6c79c;
  --underlined: #7b9ea8;
}

[data-theme="dark"] {
  --toggle: #009fd1;
  --lighten-link: rgba(217, 242, 219, 0.2);
  --link: #c1d2d7;
  --icon: #bbbbbb;
  --text: #f1f9f0;
  --card: #303433;
  --background: #523d4c;
  --underlined: #cddfa0;
}
