:root {
  --color-yellow: #fcf7eb;
  --color-yellow100: #feedc6;
  --color-yellow200: #ffd673;
  --color-yellow300: #ffb400;
  --color-white: #fffcf8;
  --color-white100: #f1f0f0;
  --color-gray: #dbdbdb;
  --color-gray300: #a5a2ac;
  --color-gray400: #959595;
  --color-gray500: #898989;
  --color-gray600: #5a5b5b;
  --color-black: #2d241f;
  --color-green: #05b87a;
  --color-green200: #08986a;
  --color-green300: #78a994;
  --color-green400: #07653d;
  --color-blue: #6dc9e7;
  --color-blue100: #94dbf3;
  --color-blue200: #079ccd;
  --color-blue300: #02519d;
  --color-purple: #9d77eb;
  --color-purple200: #5415d5;
  --color-red: #ff8973;
  --color-red200: #ff2800;
  --color-red300: #ff0000;
  --color-code: #f92672;
}
