@use "sass:color";

$black: #000000;
$white: #fff;

$darkGray: #555555;

$lightSlateBlue: #646cff;
$lightSlateBlue2: rgba(100, 108, 255, 0.2);
$mediumSlateBlue: #4045b4;

$paleGreen: #70ffa7;
$aquaMarine: #70ffe5;
$darkCyan: #419989;
