@use "sass:color";

$black: rgb(16, 15, 15);
$white: rgb(255, 252, 240);

$darkGray: rgb(111, 110, 105);
$dateBlack: #212121;

$lightSlateBlue: #646cff;
$lightSlateBlue2: rgba(100, 108, 255, 0.2);
$mediumSlateBlue: #4045b4;

$paleGreen: #70ffa7;
$aquaMarine: #70ffe5;
$darkCyan: #419989;
$darkCyanHover: #317165;

$linkColor: #00539c;
$pageWhite: rgb(255, 252, 240);

// timelines
$timelineBar: #e17b77;

$button: rgb(242, 240, 229);
