@use "./abstracts" as *;

.container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  width: 60%;
  margin: 1rem auto 2rem auto;

  .paragraph {
    font-size: 1.2rem;
    p {
      margin-bottom: 1rem;
    }
  }

  .image {
    overflow: hidden;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    width: 100%;
    img {
      aspect-ratio: unset;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @include for-phone-only {
    flex-direction: column;
    margin-left: 5%;
    .image {
      margin: -2rem 5% 2rem 0;
      img {
        width: 240px;
        min-width: 140px;
        padding-right: 2.5rem;
      }
      .square {
        height: 30vh;
        width: 60vw;
      }
    }
  }
}

.horizon {
  margin-top: -2rem;
  border-bottom: 2rem solid $mint;
  width: 80%;
  z-index: -1;
  margin-right: auto;
  @include slide-in-animation(200px, $direction: "horizontal", $duration: 0.5s);
}
.spotify {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  margin: 2rem 2rem;
  margin-left: 15%;
  @include for-phone-only {
    width: 95%;
    margin: 2rem 5%;
    gap: 1rem;
  }
}
