@use "./abstracts" as *;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin-bottom: 2rem;
  position: relative;
  h1 {
    font-size: clamp(4rem, 0.5692rem + 8.5vw, 13.75rem);
    text-align: center;
    margin: 0 2rem;
    color: var(--icon);
    span {
      color: $header;
    }
  }
  @include for-phone-only {
    h1 {
      font-size: clamp(2rem, 0.5692rem + 8.5vw, 13.75rem);
    }
  }
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: 0 1rem;
  svg {
    width: 7rem;
    height: 7rem;
  }

  @include for-phone-only {
    margin: 0 10%;
  }
}

.arrowDown {
  @include hover-vertically;
  width: 6rem;
  height: 6rem;

  position: absolute;
  bottom: 5%;
}
