@use "styles/vars" as *;
// Main Page

.main {
  h1 {
    font-size: calc(3vw + 2vh + 1.5vmin);
  }
  .opener {
    font-size: 1.6rem;
  }
  .aboutText {
    font-size: 1.2rem;
  }
}

.sectionSpace {
  margin: 2rem 0;
}

// Projects Page

.readMore {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.group {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  img {
    order: 2;
  }
  div {
    order: 1;
  }
  &:nth-child(odd) {
    img {
      order: 1;
    }
    div {
      order: 2;
    }
  }
}

.thatsSavageImg {
  margin-right: 0.5rem;
}

@media (max-width: 576px) {
  .group {
    flex-direction: column;
    img {
      order: 1;
    }
    div {
      order: 2;
    }
  }
  .thatsSavageImg {
    margin-right: 0;
    width: 140px;
  }
}
