@use "defaults";
@use "styles/vars" as *;

h1,
h2,
h3 {
  color: $lightSlateBlue;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $darkCyan;
  :hover {
    color: $darkCyanHover;
  }
}
