@forward "animations";
@forward "reset";
@forward "mixins";

@use "sass:color";

$white: #f5f5f5;
$background: #f5f5f5;
$header: #c7483f;
$code: #c11717;
$btn-bg: #d36708;

$link: #5305c0;
$ext-btn-bg: #009fd1;
$ext-btn-bg-hover: #173737;
$text: #191919;
$hover-text: #515151;
$banana: #ffe26d;
$card: #cbe7e1;
$mint: #009a7b;

body {
  overflow-x: hidden;
  min-height: 100vh;
  color: $text;
  background: $background;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link {
  svg {
    color: $text;
    &:hover {
      color: $hover-text;
      transform: scale(1.08);
    }
  }
}

.extLink {
  color: $link;
  text-decoration: underline;
  text-decoration-color: $link;
  position: relative;
  transition: all 0.25s;
  z-index: 10;
  &:before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 0%;
    background: rgba(lighten($link, 30%), 0.4);
    bottom: 0;
    left: 0;
    position: absolute;
    transition: height 0.25s;
  }
  &:hover {
    border-color: transparent;
    text-decoration: none;
    &:before {
      height: 100%;
    }
  }
}

.btn {
  font-size: 0.85rem;
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  color: $white;
  text-transform: uppercase;
  background-color: $btn-bg;

  &:hover {
    background-color: $header;
    transform: scale(1.05);
  }
}

.date {
  font-size: 0.9rem;
  font-style: italic;
  color: $hover-text;
  font-weight: bold;
}
.underline {
  background-image: linear-gradient(
    transparent calc(100% - 0.15em),
    $banana 0.15em
  );
  background-position: left bottom 0.18em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline;
  font-weight: inherit;
  transition: background-size 0.6s cubic-bezier(0.45, 0, 0.55, 1);
}
