@use "@/styles/abstracts" as *;

.h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--text);
}

.tag {
  font-size: 1.6rem;
  font-style: italic;
  position: relative;
  a {
    color: var(--text);
    text-decoration: none;
  }
  &::after {
    content: "#";
    position: absolute;
    top: -0.25rem;
    left: -2rem;
    color: $text;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.6rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover {
    a {
      text-decoration: underline;
    }
    &::after {
      opacity: 1;
    }
  }
}
