@use "styles/mixins" as *;

$defaultSize: clamp(6rem, 14vw, 9rem);

$mobileSize: 8rem;

.mainContainer {
  margin: 2rem 25vw 2rem;
  padding: 1rem 2rem 2rem;
  background-color: #fae5da;
  border-radius: 0.375rem;
  min-height: 100vh;
}

.menu {
  display: none;
  position: absolute;
  top: 2vh;
  right: 5vw;
  cursor: pointer;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .mainContainer {
    margin: 2rem 15vw 2rem;
  }
}

@media (max-width: 576px) {
  .menu {
    display: block;
  }
  .mainContainer {
    margin: 15vh 10vw 2rem;
  }
}
