@use "styles/vars" as *;

.mainContainer {
  padding: 4rem 25% 2rem;
  background-color: $pageWhite;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 4rem 4rem 2rem 10rem;
  }
}

@media (max-width: 576px) {
  .mainContainer {
    padding: 4rem 2rem 2rem 5rem;
  }
}
