// Now Playing

.container {
  margin-top: 0.5rem;
  .nowPlayingCard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .notPlaying {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
  }
  .textAndMeta {
    display: flex;
    flex-direction: column;
    .yearAlbum {
      font-size: 0.9rem;
      font-style: italic;
    }
    .artist {
      font-weight: bold;
    }
    .song {
      font-size: 1.1rem;
    }
  }
}
