@use "styles/mixins" as *;
@use "styles/vars" as *;

.container {
  margin-top: 0.5rem;
}
.nowPlayingCard {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  img {
    border-radius: 0.375rem;
  }
}
.notPlaying {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border: 1px solid $linkColor;
  border-radius: 0.375rem;
  background-color: $button;
}
.textAndMeta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.yearAlbum {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 1rem;
}
.artist {
  font-size: 1.2rem;
}
.song {
  font-weight: bold;
}
.songModal {
  font-weight: bold;
  font-size: 1.4rem;
}
.card {
  width: 100%;
  border: 1px solid $linkColor;
  border-radius: 0.375rem;
  background-color: $white;
  transition: 0.25s ease;
  cursor: pointer;
  &:hover {
    background-color: $button;
  }
}

.modalSongInfo {
  img {
    padding: 0 0.25rem;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.5rem;
  }
}

.songUrlLink {
  padding: 0.25rem 0.5rem;
  border: 3px solid $linkColor;
  border-radius: 0.375rem;
  transition: 0.25s ease;
  display: block;
  text-align: center;
  &:hover {
    color: $pageWhite;
    background-color: $linkColor;
  }
}
