.spotifyWrapper {
	border: 2px solid #555555;
	border-radius: 3rem;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

.spotifyImage {
	width: 20%;
}

.spotifyTextInfo {
	padding: 0.5rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.spotifyTitle {
	font-size: 1.2rem;
	margin: 0;
	display: flex;
	flex-direction: row;
}

.spotifyText {
	margin-top: 0.5rem;
	margin-bottom: 0;
	color: #555555;
}

.animatedBars {
	margin-left: 0.5rem;
	width: auto;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
}

.bar1 {
	width: 0.25rem;
	margin-right: 0.25rem;
	height: 0.5rem;
	background-color: grey;
	opacity: 75%;
}

.bar2 {
	height: 0.25rem;
	@extend .bar1;
}

.bar3 {
	height: 0.75rem;
	@extend .bar1;
}

.notPlaying {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
}

.spotifyIcon {
	height: 2rem;
	width: 2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: auto;
	margin-bottom: auto;
}
