@use "styles/vars" as *;

.timelineContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2rem 0;
  &::after {
    background-color: $timelineBar;
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
    z-index: 1;
  }
}

.timelineItem {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  position: relative;
  margin: 10px 0;
  width: 50%;
  &:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-right: 0;
    .itemContent {
      text-align: left;
      align-items: flex-start;
      .tag {
        left: auto;
        right: 5px;
      }
      &::after {
        right: auto;
        left: -7.5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
      }
      .circle {
        right: auto;
        left: -42px;
      }
    }
  }
}

.itemContent {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  position: relative;
  width: 100%;
  text-align: right;
  &::after {
    content: " ";
    background-color: $white;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
  }
  .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    border-radius: 0.375rem;
  }

  time {
    color: $darkGray;
    font-size: 12px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0.5rem 0;
  }
  a {
    font-size: 14px;
    font-weight: bold;
    &::after {
      content: " ►";
      font-size: 12px;
    }
  }
  .circle {
    background-color: $white;
    border: 3px solid $timelineBar;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -42px;
    width: 20px;
    height: 20px;
    z-index: 100;
  }
}

@media only screen and (max-width: 767px) {
  .itemContent,
  .timelineItem:nth-child(odd) .itemContent {
    padding: 1rem 10px;
    align-items: center;
  }

  .itemContent {
    time {
      margin-top: 20px;
    }
    a {
      text-decoration: underline;
      &::after {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 468px) {
  .timelineItem {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
    position: relative;
    margin: 10px 0;
    width: 100%;
    z-index: 2;
    &:nth-child(odd) {
      align-self: flex-end;
      justify-content: flex-start;
      padding: 0.5rem;
    }
  }
  .itemContent {
    &::after {
      content: none;
    }
    time {
      margin-top: 0.5rem;
    }
    .circle {
      display: none;
    }
  }

  .itemContent .itemContent p {
    margin: 0.5rem 0;
  }
}
