@use "@/styles/abstracts" as *;

.homeLine {
  margin-top: -2rem;
  border-bottom: 2rem solid $mint;
  width: 75%;
  z-index: -1;
  margin-left: auto;
  will-change: transform;
  @include slide-in-animation(100px, "horizontal", $duration: 0.75s);
}
