@use "@/styles/abstracts" as *;

.icon {
  position: fixed;
  bottom: 0;
  left: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  transition: 0.3s ease background-color;
  background-color: var(--toggle);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  .toggler {
    display: none;

    &:not(:checked) ~ svg[id="moon"] {
      bottom: -100%;
    }

    &:checked ~ svg[id="star"] {
      top: -100%;
    }

    &:checked ~ svg[id="moon"] {
      bottom: 25%;
    }
  }

  svg {
    height: 80%;
    width: auto;
    position: relative;
  }

  svg[id="star"] {
    top: 25%;
    color: $underlined;
    transition:
      0.3s ease top,
      0.3s ease left,
      0.3s ease transform,
      0.3s ease background-color;
  }

  svg[id="moon"] {
    bottom: 25%;
    fill: $background;
    transition: 0.3s ease bottom;
  }

  @include for-phone-only {
    width: 2.8rem;
    height: 2.8rem;
  }
}
