@use "styles/mixins" as *;

$defaultSize: clamp(10rem, 14vw, 15rem);

$mediumSize: clamp(8rem, 20vw, 10rem);

$mobileSize: clamp(6rem, 20vw, 8rem);

.blob {
  position: fixed;
  width: $defaultSize;
  height: $defaultSize;
  a text {
    fill: rgba(63, 94, 251, 1);
    font-weight: bold;
  }
}

.homeBlob {
  @extend .blob;
  @include rotateAndTranslate(10, -2px, -25px);
  left: 1vw;
  top: 1vh;
}

.aboutBlob {
  @extend .blob;
  @include rotateAndTranslate(-10, -12px, -20px);
  left: 1vw;
  bottom: 1vh;
}

.interestsBlob {
  @extend .blob;
  @include rotateAndTranslate(-5, -15px, 0px);
  top: 1vh;
  right: 1vw;
}

.projectsBlob {
  @extend .blob;
  @include rotateAndTranslate(10, 5px, 5px);
  right: 1vw;
  bottom: 1vh;
}

@media (max-width: 768px) {
  .mainContainer {
    margin: 2rem 15vw 0;
  }
  .blob {
    width: $mediumSize;
    height: $mediumSize;
  }
  .homeBlob {
    left: 1vw;
  }
  .aboutBlob {
    left: 1vw;
  }
  .interestsBlob {
    right: 1vw;
  }
  .projectsBlob {
    right: 1vw;
  }
}

@media (max-width: 576px) {
  .blob {
    width: $mobileSize;
    height: $mobileSize;
  }
}
