.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 4rem 0;
  a {
    font-size: 1.2rem;
  }
}

.iconAndText {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
